* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}



.container1 .img img {

    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    transform: none;
    object-fit: cover;



}

.container1 .back {
    position: relative;
    background: rgba(0, 0, 0, .4);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 60%, rgba(0, 0, 0, .8));
    height: 100vh;
}

.container1 .content1 {

    position: relative;
    display: flex;
    padding-top: 10px;
}

.container1 .content1 .logo img {
    width: 180px;
    height: 10vh;

}

.container1 .content1 .logo {
    margin-right: auto;
}

.container1 .back .content1 .navbar {
    padding-top: 15px;
    display: flex;
}

.container1 .back .content1 .navbar i {
    font-size: 12px;
    color: white;
    transform: translateX(22px);
}

.container1 .content1 .navbar .language select {
    background-color: transparent;
    color: white;
    padding: 6px 3px 6px 20px;
    border-color: white;
    margin-right: 1.5rem;
}

.container1 .content1 .navbar .language select option {
    background-color: grey;
}

.container1 .content1 .navbar .signbtn {
    padding: 7px 20px;
    background-color: #e50914;
    margin-right: 3rem;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 10%;
}

.container1 .section1 {

    position: relative;
}

.container1 .section1 {
    color: white;
    text-align: center;
    margin-top: 10%;
}

.container1 .section1 .title1 {
    font-size: 35px;
    text-align: -webkit-center;

}

.container1 .section1 .title1 h1 {

    width: 45%;
}

.container1 .section1 .title2 h2 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 25px;
}

.container1 .section1 .title3 p {
    font-size: 20px;
    padding-bottom: 20px;

}

.container1 .section1 .input1 {
    display: flex;
    justify-content: center;

}

.container1 .section1 .input1 input {
    width: 35%;
    height: 10vh;
    padding-left: 10px;
    font-size: 15px;
    outline: none;
}

.container1 .section1 .input1 .btn1 {
    font-size: 23px;
    font-weight: 400;
    padding: 15px 40px;
    background-color: #e50914;
}

.container1 .section1 .input1 .btn1 i {
    color: white;
    padding-left: 10px;
    font-size: 20px;

}

.container1 {
    border-bottom: 8px solid #222;
}

.container2 .section2 .display1 {
    width: 70%;
}

.container2 .section2 .display1 .tv1 img {
    max-width: 80%;
}

.container2 {
    background-color: black;
    border-bottom: 8px solid #222;



}

.container2 .section2 {
    display: flex;
    color: white;
    padding-bottom: 5%;

}

.container2 .section2 .display1 .tv1 {
    position: relative;
    z-index: 2;

}

.container2 .section2 .display1 .video1 {
    position: absolute;
    top: 106%;

    width: 100%;
    max-width: 32%;
    max-height: 60%;
    transform: translate(66px, 52px);



}

.container2 .section2 .display1 .video1 video {
    width: 92%;
}

.container2 .section2 .content2 {
    text-align: center;
    margin-top: 8%;
    width: 70%;
}

.container2 .section2 .content2 .title1 h1 {
    font-size: 50px;
    word-spacing: 5px;
}

.container2 .section2 .content2 .title2 h2 {
    font-size: 20px;
    width: 60%;
    text-align: left;
}

.container2 .section2 .content2 .title2 {
    margin-top: 10px;
    text-align: -webkit-center;
}

.container3 .section3 .box {
    display: flex;

    border-radius: 5%;
}

.container3 .section3 .box .box1 img {
    width: 50px;


}

.container3 .section3 .box .box2 {
    margin-left: 10px;
    margin-top: 15px;
}



.container3 .section3 .box .box2 .boxtitle {
    font-size: 20px;
    color: white;
    margin-left: 10px;

}

.container3 .section3 .box .box2 .boxtitle2 {
    font-size: 15px;
    color: #0071eb;
    margin-left: 10px;

}

.container3 .section3 .box .box3 {
    margin-left: 40px;
    margin-top: 15px;
}

.container3 .section3 .box .box3 .boxgif img {
    width: 40px;
}

.container3 .section3 {
    width: 50%;
    margin-left: 5%;
}

.container3 .section3 .mobile img {
    max-width: 90%;
}

.container3 .section3 .mobile2 {

    border: 2px solid hsla(0, 0%, 100%, .25);
    ;
    background-color: black;
    width: 60%;
    border-radius: 0.75em;
    padding: 10px;
    transform: translate(25%, -120%);
}

.container3 {
    display: flex;
    background-color: black;
    border-bottom: 8px solid #222;
}

.container3 .section3a {
    color: white;
    margin-left: 30px;
}

.container3 .section3a .content3 .title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10%;
}

.container3 .section3a .content3 .title h1 {
    font-size: 50px;
    font-weight: 600;
    width: 75%;
    text-align: left;
}

.container3 .section3a .content3 .title1 h2 {
    font-size: 20px;
    width: 60%;

}

.container4 {
    background-color: black;
    padding-bottom: 10%;
    border-bottom: 8px solid #222;
}

.container4 .section4 .content4 {
    color: white;
}

.container4 .section4 {
    display: flex;
}

.container4 .contentb .tva {
    padding-top: 3%;
    position: absolute;
    z-index: 2;
}

.container4 .contentb .tvb {
    position: relative;
    width: 70%;
    height: 100%;
    transform: translate(95px, 100px);
}

.container4 .contentb .tva img {
    width: 100%;


}

.container4 .section4 .contentb .tvb video {
    max-width: 100%;
}

.container4 .section4 .content4 {
    padding-top: 13%;
    width: 60%;
}

.container4 .section4 .contenta .title1 h1 {
    font-size: 45px;
    text-align: center;
    width: 85%;

}

.container4 .section4 .contenta .title2 {
    text-align: -webkit-center;
    padding-top: 20px;
}

.container4 .section4 .contenta .title2 h2 {
    font-size: 25px;
    width: 65%;
    text-align: left;
}

.container5 {
    background-color: black;
    padding-bottom: 7%;
    border-bottom: 8px solid #222;

}

.container5 .section5 {
    display: flex;
}

.container5 .section5 .content5 {
    width: 100%;
}

.container5 .section5 .content5 .childimg {
    text-align: -webkit-center;
    margin-top: 7%;
}

.container5 .section5 .content5 .childimg img {
    width: 70%;
    height: 100%;
}

.container5 .section5 .content5a {
    color: white;
    margin-top: 8%;


}

.container5 .section5 .content5a .title1 h1 {
    font-size: 40px;
    font-weight: 700;
    width: 60%;
    text-align: left;
}

.container5 .section5 .content5a .title2 h2 {
    font-size: 25px;
    font-weight: 400;
    width: 75%;
    text-align: left;
}

.container6 {
    background-color: black;
    padding-bottom: 7%;
    border-bottom: 8px solid #222;
}

.container6 .section6 .titleques {
    padding-top: 5%;
    color: white;
    font-size: 45px;
    font-weight: 600;
}

.container6 .section6 .content6 {
    color: white;

}

.container6 .section6 .content6 details>summary {
    list-style-type: '';
}

.container6 .section6 .content6 details[open]>summary {
    list-style-type: '';
}


.container6 .section6 .content6 details[open]>summary {
    margin-bottom: 0.5rem;
}

.container6 .section6 {
    text-align: -webkit-center;
}

.container6 .section6 .content6 details {

    width: 70%;
    background-color: #303030;
    font-size: 25px;
    padding-top: 5px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-right: 15px;
}

.container6 .section6 .content6 details i {
    font-size: 35px;
    float: right;
    margin-top: -11px;
    font-weight: 500;


}

.container6 .section6 .content6 details summary {
    padding-top: 5px;
    font-size: 30px;
    text-transform: capitalize;
}

.container6 .section6 .content6 details .title1 {
    border-top: 2px solid black;
    padding-top: 10px;
    padding-right: 10px;
}

.container6 .section6 .content6 details .title2 {
    padding-top: 10px;
    padding-right: 10px;
}

.container6 .section6 .content6 .email {
    padding-top: 5%;
    font-size: 20px;
}

.container6 .section6 .content6 .input1 {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.container6 .section6 .content6 .input1 input {
    width: 35%;
    height: 10vh;
    padding-left: 10px;
    font-size: 15px;
    outline: none;
}

.container6 .section6 .content6 .input1 .btn1 {
    font-size: 23px;
    font-weight: 400;
    padding: 15px 40px;
    background-color: #e50914;
}

.container6 .section6 .content6 .input1 .btn1 i {
    color: white;
    padding-left: 10px;
    font-size: 20px;
}

footer {
    background-color: black;
}

.footer .title1 {
    padding-bottom: 10px;
    color: #737373;
}

.footer ul {
    padding-left: 18px;
}


.footer ul li {
    color: #737373;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 24%;
    font-size: 15px;
}

.footer .list {
    padding: 50px 21px 20px 170px;
}

footer .list .language select {
    background-color: transparent;
    color: #737373;
    padding: 6px 3px 6px 20px;
    border-color: #737373;
    margin-right: 1.5rem;
    font-size: 15px;
}

footer .list .language i {
    font-size: 14px;
    color: #737373;
    transform: translateX(22px);
}

footer .list .language select option {
    background-color: black;

}

footer .list .clone {
    color: #737373;
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 10px;
}













.container1 .back .content1 .navbar {
    padding-top: 15px;
    display: flex;
}

.container1 .back .content1 .navbar i {
    font-size: 12px;
    color: white;
    transform: translateX(22px);
}

.container1 .content1 .navbar .language select {
    background-color: transparent;
    color: white;
    padding: 6px 3px 6px 20px;
    border-color: white;
    margin-right: 1.5rem;
}

/* ---------responsive------ */

@media (max-width:1350px) {

    .container6 .section6 .content6 .input1 input {
        height: 18vh;
    }

    .container1 .section1 .input1 input {
        height: 18vh;
    }
}

@media (max-width:1300px) {
    .container4 .contentb .tvb {
        width: 65%;
    }

    .container6 .section6 .content6 .input1 input {
        height: 18vh;
    }

    .container1 .section1 .input1 input {
        height: 18vh;
    }
}

@media (max-width:1250px) {
    .container4 .contentb .tvb {
        width: 60%;
    }

    .container6 .section6 .content6 .input1 input {
        height: 18vh;
    }

    .container1 .section1 .input1 input {
        height: 18vh;
    }
}


@media (max-width:1150px) {
    .container3 .section3 .mobile img {
        max-width: 100%;
    }

    .container3 .section3 .mobile2 {
        width: 70%;
    }
}


@media (max-width:1100px) {
    .container6 .section6 .content6 .input1 input {
        height: 12vh;
    }

    .container1 .section1 .input1 input {
        height: 12vh;
    }

    .container2 .section2 .display1 .video1 {
        transform: translate(56px, 43px);

    }

    .container3 .section3 .mobile img {
        max-width: 115%;
    }

    .container1 .section1 .title1 h1 {
        width: 44%;
    }

    .container1 .section1 .title1 {
        font-size: 25px;
    }

    .container2 .section2 .content2 .title2 h2 {
        width: 78%;
    }

    .container3 .section3 .box .box2 .boxtitle {
        font-size: 14px;
    }

    .container3 .section3 .mobile2 {
        transform: translate(32%, -120%);
    }

    .container4 .contentb .tvb {
        transform: translate(88px, 59px);

    }

    .container6 .section6 .titleques {
        padding-bottom: 15px;
    }

    .container4 .section4 .contenta .title2 h2 {
        width: 81%;
    }

    .container5 .section5 .content5 .childimg img {
        width: 85%;
    }

    .footer .list {
        padding: 50px 21px 20px 90px;
    }
}

@media (max-width:1050px) {
    .container2 .section2 .display1 .video1 {
        transform: translate(53px, 40px);
    }

    .container3 .section3 .mobile img {
        max-width: 142%;
    }

    .container3 .section3a .content3 .title {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10%;
        margin-left: 127px;
    }

    .container3 .section3a .content3 {
        text-align: -webkit-center;
    }

    .container3 .section3a .content3 .title1 h2 {
        text-align: left;
    }

    .container3 .section3 .mobile2 {
        width: 90%;
    }
}

@media (max-width:950px) {
    .container1 .section1 .title1 h1 {
        width: 78%;
    }

    .container2 .section2 {
        flex-direction: column;
    }

    .container2 .section2 .display1 {
        width: 100%;
        text-align: center;
    }

    .container2 .section2 .display1 .tv1 img {
        max-width: 60%;
    }

    .container2 .section2 .display1 .video1 {
        position: absolute;
        top: 140%;
        width: 100%;
        max-width: 48%;
        left: 20%;
    }

    .container2 .section2 .content2 {
        width: 100%;
    }

    .container2 .section2 .content2 .title2 h2 {
        width: 100%;
        text-align: center;
    }

    .container2 .section2 .content2 .title2 h2 {
        font-weight: 500;
    }

    .container2 .section2 .content2 .title1 h1 {
        font-size: 40px;
    }

    .container3 {
        flex-direction: column-reverse;
    }

    .container3 .section3a .content3 .title {
        margin-top: 5%;
        margin-left: 0px;
    }

    .container3 .section3a .content3 .title h1 {
        font-size: 30px;
        font-weight: 700;
        width: 100%;
        text-align: center;
    }

    .container3 .section3a .content3 .title1 h2 {
        font-size: 17px;
        width: 100%;
        font-weight: 500;
        text-align: center;
    }

    .container3 .section3 {
        width: 100%;
        margin-left: 0px;
        text-align: -webkit-center;

    }

    .container3 .section3 .mobile2 {
        width: 45%;
    }

    .container3 .section3 .mobile2 {
        transform: translate(0%, -134%);
    }

    .container3 .section3 .box .box3 {

        margin-top: 15px;
        transform: translateX(110px);
    }

    .container3 .section3 .box .box2 .boxtitle {
        font-size: 17px;
        font-weight: 500;
    }

    .container3 .section3 .box .box2 .boxtitle2 {
        font-size: 16px;

        margin-left: 0px;
        font-weight: 500;
    }

    .container4 .section4 {
        flex-direction: column;
    }

    .container4 .section4 .content4 {
        width: 100%;
        padding-top: 5%;
    }

    .container4 .section4 .contenta .title1 h1 {
        font-size: 35px;
        text-align: center;
        width: 100%;
    }

    .container4 .section4 .contenta .title2 h2 {
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }

    .container4 .contentb .tvb {
        transform: translate(19px, 57px);
    }

    .container4 .contentb .tvb {
        text-align: center;
        width: 95%;
    }

    .container4 .contentb {
        text-align: right;
        width: 100%;
    }

    .container4 .contentb .tva img {
        width: 75%;

    }

    .container4 .section4 .contentb .tvb video {
        max-width: 40%;
    }

    .container4 {
        padding-bottom: 25%;
    }

    .container4 .contentb .tva {
        width: 80%;
    }

    .container5 .section5 {
        flex-direction: column-reverse;
    }

    .container5 .section5 .content5a .title1 h1 {
        font-size: 30px;
        font-weight: 700;
        width: 100%;
        text-align: center;
        padding-bottom: 12px;
    }

    .container5 .section5 .content5a .title2 h2 {
        font-size: 23px;
        font-weight: 400;
        width: 97%;
        text-align: center;
        margin: 10px;
    }

    .container5 .section5 .content5 .childimg {
        margin-top: 0%;
    }

    .container5 .section5 .content5 .childimg img {
        width: 60%;
    }

    .container6 .section6 .content6 details {
        width: 90%;
    }
}

@media (max-width:900px) {
    .container1 .content1 .logo img {
        width: 132px;
        height: 6vh;
    }

    .container1 .content1 .logo {
        padding-top: 15px;
    }

    .container1 .section1 .title1 h1 {
        width: 100%;
    }

    .container1 .section1 {
        margin-top: 18%;
    }

    .container1 .section1 .title2 h2 {
        font-size: 23px;
        font-weight: 400;
    }

    .container1 .section1 .input1 input {
        width: 46%;
        height: 10vh;
    }

    .container1 .section1 .input1 .btn1 {
        padding: 11px 40px;
        font-weight: 600;
    }

    .container2 .section2 .display1 .tv1 img {
        max-width: 65%;
    }

    .container2 .section2 .display1 .video1 {

        max-width: 53%;
        left: 17%;
    }

    .container3 .section3 .box .box3 {

        transform: translateX(102px);
    }

    .container6 .section6 .content6 .input1 input {
        height: 10vh;
    }

    .container6 .section6 .content6 .input1 .btn1 {
        padding: 10px 40px;
        font-weight: 400;
    }


}

@media (max-width:850px) {
    .container1 .content1 .logo {
        padding-left: 10px;
    }

    .container1 .section1 .title1 {
        font-size: 21px;
    }

    .container1 .section1 .title2 h2 {
        font-size: 21px;
    }

    .container2 .section2 .content2 .title1 h1 {
        font-size: 36px;
    }

    .container2 .section2 .content2 .title2 h2 {
        font-size: 17px;
    }

    .container2 .section2 .display1 .video1 {
        top: 136%;
    }

    .container3 .section3 .mobile2 {
        width: 51%;
    }

    .container5 .section5 .content5a .title2 h2 {
        font-size: 18px;
    }

    .container6 .section6 .content6 details summary {
        font-size: 24px;
        padding: 7px;
    }

    .footer .list {
        padding: 50px 21px 20px 38px;
    }

}

@media (max-width:800px) {
    .container1 .section1 .title2 h2 {
        font-size: 18px;
    }

    .container1 .img img {
        height: 95vh;
    }

    .container1 .back {
        height: 95vh;
    }

    .container2 .section2 .content2 .title2 h2 {
        width: 85%;
    }

    .container2 .section2 .display1 .video1 {
        max-width: 60%;
        left: 13%;
    }

    .container2 .section2 .display1 .tv1 img {
        max-width: 75%;
    }

    .container4 .contentb .tvb {
        transform: translate(-10px, 55px);
    }

    .container4 .contentb .tva {
        width: 85%;
    }

    .container4 .contentb .tva img {
        width: 80%;
    }

    .container4 .section4 .contentb .tvb video {
        max-width: 46%;
    }

    .container4 .contentb .tvb {
        transform: translate(27px, 52px);
    }

    .container4 {
        padding-bottom: 28%;
    }

    .container5 .section5 .content5a .title2 {
        text-align: -webkit-center;
    }

    .container5 .section5 .content5a .title2 h2 {

        width: 80%;
    }

    .container5 .section5 .content5 .childimg img {
        width: 70%;
    }

    .container6 .section6 .titleques {
        font-size: 35px;
    }
}

@media (max-width:750px) {
    .container2 .section2 .display1 .tv1 img {
        max-width: 78%;
    }

    .container2 .section2 .display1 .video1 {
        max-width: 63%;
        left: 11%;
        top: 135%;
    }

    .container3 .section3 .mobile2 {
        width: 57%;
    }

    .container3 .section3 .box .box1 img {
        width: 44px;
    }

    .container3 .section3 .box .box3 {
        transform: translateX(120px);
    }
}

@media screen and (max-width:700px) {
    .container1 .content1 .logo img {
        width: 116px;
        height: 5vh;
    }

    .container1 .content1 .logo {
        padding-top: 21px;
    }

    .container1 .section1 .title3 {
        text-align: -webkit-center;
    }

    .container1 .section1 .title3 p {
        width: 85%;
    }

    .container2 .section2 .display1 .tv1 img {
        max-width: 85%;
    }

    .container2 .section2 .display1 .video1 {
        max-width: 68%;
        left: 8%;
        top: 134%;
    }

    .container3 .section3 .mobile2 {
        width: 61%;
    }

    .container4 .section4 .contenta .title2 h2 {
        width: 90%;
    }

    .container5 .section5 .content5 .childimg img {
        width: 80%;
    }

    .container6 .section6 .content6 details summary {

        padding: 17px 0px 17px 0px;
    }

    .container6 .section6 .content6 .email {
        width: 80%;
    }
}

@media screen and (max-width:650px) {
    .container1 .section1 .title1 h1 {
        width: 80%;
    }

    .container2 .section2 .display1 .video1 {
        max-width: 69%;
        left: 7%;
        top: 132%;
    }

    .container3 .section3 .mobile img {
        max-width: 90%;
    }

    .container3 .section3 .box .box3 {
        transform: translateX(92px);
    }

    .container3 .section3a .content3 .title {
        text-align: -webkit-center;
    }

    .container3 .section3a .content3 .title h1 {
        width: 90%;
    }

    .container4 .contentb .tvb {
        transform: translate(23px, 52px);
    }

    .footer ul li {
        width: 30%;
    }
}

@media screen and (max-width:600px) {
    .container1 .section1 .title1 h1 {
        width: 86%;
    }

    .container1 .section1 {
        margin-top: 12%;
    }

    .container1 .section1 .input1 {
        flex-direction: column;
    }

    .container1 .section1 .input1 .btn1 {
        height: 10vh;
        padding: 0;
        width: 30%;
        margin: auto;
        padding-top: 12px;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 20px;
    }

    .container1 .section1 .input1 input {
        width: 79%;
        height: 9vh;
        margin: auto;
    }

    .container2 .section2 .display1 .video1 {
        max-width: 69%;
        left: 6%;
        top: 130%;
    }

    .container3 .section3 .box .box1 img {
        width: 39px;
    }

    .container3 .section3 .box .box2 {
        margin-left: 10px;
        margin-top: 5px;
    }

    .container3 .section3 .box .box3 {
        transform: translateX(64px);
    }

    .container3 .section3 .box .box3 {
        margin-top: 5px;
    }

    .container3 .section3 .box .box2 .boxtitle {
        font-size: 13px;
    }

    .container3 .section3 .box .box2 .boxtitle2 {
        font-size: 12px;
    }

    .container4 .contentb .tva {
        width: 90%;
    }

    .container4 .contentb .tva img {
        width: 90%;
    }

    .container4 .contentb .tvb {
        transform: translate(10px, 52px);
    }

    .container4 .section4 .contentb .tvb video {
        max-width: 54%;
    }

    .container4 {
        padding-bottom: 34%;
    }

    .container5 .section5 .content5 .childimg img {
        width: 85%;
    }

    .container6 .section6 .content6 .input1 {
        flex-direction: column;
    }

    .container6 .section6 .content6 .input1 input {
        width: 79%;
        height: 9vh;
        margin: auto;
    }

    .container6 .section6 .content6 .input1 .btn1 {
        height: 10vh;
        padding: 0;
        width: 30%;
        margin: auto;
        padding-top: 12px;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 20px;
    }
}

@media screen and (max-width:550px) {
    .container2 .section2 .display1 .video1 {
        max-width: 69%;
        left: 5%;
        top: 128%;
    }

    .container3 .section3 .mobile2 {
        padding: 5px;
    }

    .container4 .contentb .tva {
        width: 100%;
    }

    .container4 .contentb .tva img {
        width: 100%;
    }

    .container4 .section4 .contentb .tvb video {
        max-width: 67%;
    }

    .container4 .contentb .tvb {
        transform: translate(10px, 49px);
    }

    .container4 {
        padding-bottom: 41%;
    }

    .container6 .section6 .content6 details summary {
        font-size: 20px;
    }

    .container6 .section6 .content6 details {
        font-size: 18px;
    }
}

@media screen and (max-width:500px) {
    .container1 .section1 {
        margin-top: 14%;
    }

    .container1 .section1 .input1 .btn1 {
        height: 9vh;
        padding-top: 10px;
        margin-top: 20px;
    }

    .container2 .section2 .content2 .title2 h2 {
        width: 81%;
    }

    .container2 .section2 .display1 .video1 {
        max-width: 69%;
        left: 5%;
        top: 126%;
    }

    .container3 .section3a .content3 .title1 h2 {
        width: 89%;

    }

    .container3 .section3 .box .box3 {
        transform: translateX(25px);
    }

    .container3 .section3 .mobile2 {
        width: 59%;
        padding: 4px;
    }

    .container4 .contentb .tvb {
        transform: translate(10px, 41px);
    }

    .container6 .section6 .titleques {
        font-size: 38px;
    }


}

@media screen and (max-width:450px) {
    .container1 .section1 .input1 .btn1 {
        height: 8vh;
        padding-top: 11px;
        margin-top: 20px;
        width: 26%;
        font-size: 15px;
    }
    .container1 .section1 .input1 .btn1 i {
        font-size: 15px;
    }
    .container1 .section1 {
        margin-top: 22%;
    }
    .container2 .section2 .display1 .video1 {
        max-width: 69%;
        left: 3%;
        top: 128%;
    }
    .container3 .section3a{
        margin-left: 0;
    }
    .container3 .section3 .box .box3 {
        transform: translateX(4px);
    }
    .container6 .section6 .content6 .input1 .btn1{
        height: 9vh;
        padding-top: 13px;
        margin-top: 20px;
        width: 35%;
        font-size: 15px;
    }
}
@media  screen and (max-width:400px){
    .container1 .content1 .navbar .signbtn {
        margin-right: 5px;
        padding: 3px 15px;
}
.container1 .content1 .navbar .language select{
    margin-right: 10px;
    font-size: 10px;
}
.container1 .back .content1 .navbar i {
    font-size: 10px;
}
.container1 .content1 .logo img {
    width: 100px;
    height: 5vh;
}
.container1 .section1 {
    margin-top: 16%;
}
.container1 .section1 .title3 p {
    width: 77%;
}
.container2 .section2 .display1 .video1 {
    max-width: 69%;
    left: 7px;
    top: 127%;
}
.container3 .section3 .box .box3{
    margin-left: 0px;
}
.container3 .section3 .mobile2 {
    width: 64%;
    padding: 4px;
}
.container3 .section3 .box .box3 {
    transform: translateX(34px);
}
.container4 .contentb .tvb {
    transform: translate(10px, 31px);
}
.footer .list {
    padding: 28px 12px 26px 8px;
}
.footer ul li {
    width: 32%;
}
}

@media screen and (max-width:350px) {
    .container2 .section2 .content2 .title1 h1 {
        font-size: 30px;
    }
    .container2 .section2 .content2 .title2 h2 {
        width: 73%;
        font-size: 16px;
    }
    .container2 .section2 .display1 .video1 {
        max-width: 67%;
        left: -1px;
        top: 123%;
    }
    .container3 .section3 .box .box3 {
        transform: translateX(6px);
    }
    .container6 .section6 .content6 .input1 .btn1 i{
        font-size: 15px;
    }
    .container4 .contentb .tvb {
        transform: translate(10px, 27px);
    }
    
}
/* @media screen and (max-width: 360px), 
       screen and (max-height: 740px) {
        .container1 .section1 .input1 .btn1{
            height: 6vh;
        }
        .container2 .section2 .display1 .video1 {
            max-width: 69%;
            left: 3px;
            top: 117%;
        }
        .container1 .section1{
            margin-top: 40%;
        }
        .container3 .section3 .box .box3 .boxgif img {
            width: 34px;
        }
        .container6 .section6 .content6 .input1 .btn1{
            height: 6vh;
        }
} */

 @media screen  and (max-width:425px),screen and(max-height: 740px){
    .container2 .section2 .display1 .video1 {
        max-width: 69%;
        left: 3%;
        top: 121%;
    }
    .container1 .section1 {
        margin-top: 30%;
    }
    .container1 .section1 .input1 .btn1 {
height: 6vh;
padding-top: 12px;
 }
}
@media screen  and (max-width:400px),screen and(max-height: 650px){
    .container2 .section2 .display1 .video1 {
        max-width: 69%;
        left: 2%;
        top: 122%;
    }
}